<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/130926/h259h_kqyucvcbkfbhmrcugfjeg5sckzsew_700x1051.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥89</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>280</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131009/q0tu6_kqywgtcdkfbhgrcugfjeg5sckzsew_431x603.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥153</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s8.mogujie.cn/b7/bao/131010/sa0xe_kqyweulikfbdiwkugfjeg5sckzsew_1200x1800.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>291</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131007/q0x5r_kqywu3swkfbdkrlwgfjeg5sckzsew_700x1017.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥78</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131006/cur6k_kqyv63swkfbfqq3wgfjeg5sckzsew_466x700.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥79</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131008/q0trc_kqyxm3smkfbdo6dwgfjeg5sckzsew_265x346.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥85</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://s8.mogujie.cn/b7/bao/130921/q0tuy_kqyvszlykfbewtcugfjeg5sckzsew_310x418.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥73</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>290</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131008/jc219_kqyxq3sxkfbdoytwgfjeg5sckzsew_1000x1450.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥89</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130909/q0wjj_kqyxmn2bkfbf6x3wgfjeg5sckzsew_310x310.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥155</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/lzlz3_kqyw6z2bkfbf6q3wgfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥75</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>315</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131007/ynbuu_kqyucz2mkfbfqtdwgfjeg5sckzsew_616x968.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥68</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131010/q0ym1_kqywytdykfbhmtdwgfjeg5sckzsew_232x348.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130928/c7k0_kqyw6vckkfbgeq3wgfjeg5sckzsew_500x750.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥79</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131008/10gh9k_kqyuercmkfbdirkugfjeg5sckzsew_452x610.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥170</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>276</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131011/sc1sj_kqyxex27kfbhsstwgfjeg5sckzsew_423x582.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥108</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131010/v657l_kqyvirczkfbfqwlwgfjeg5sckzsew_400x540.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥188</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/131008/r4v6e_kqyxuz2lkfbf6vtwgfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥125</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>289</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130928/10hws1_kqyus52ekfbews3wgfjeg5sckzsew_470x677.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>254</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/131009/q2grx_kqyuotkmkfbgowtwgfjeg5sckzsew_382x485.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥55</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>267</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131009/krzhx_kqytgtcfkfbewq3wgfjeg5sckzsew_336x448.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥90</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>261</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130927/gx4o_kqyw4u3ikfbf6stwgfjeg5sckzsew_388x506.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥80</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>288</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131007/i9fr7_kqyxiok7kfbg2q3wgfjeg5sckzsew_514x740.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥89</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>290</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131001/him9e_kqyv6tkekfbguvsugfjeg5sckzsew_343x497.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥47</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/bq1n7_kqytktdikfbg2wlwgfjeg5sckzsew_801x1049.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>264</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130904/m9nbh_kqytan2lkfbgevsugfjeg5sckzsew_456x600.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥85</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>273</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/q25mx_kqytm2c7kfbf6x2ugfjeg5sckzsew_376x512.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥99</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130930/q2fr9_kqywstlykfbgezcugfjeg5sckzsew_300x450.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥200</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/131007/qp84g_kqytktcekfbhmvsugfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥98</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/130930/qp84g_kqyvcz2zkfbfissugfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥78</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>260</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131008/c6ojd_kqyxa3slkfbguytwgfjeg5sckzsew_345x448.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥145</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>310</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/r4v6e_kqywwx2kkfbdos3wgfjeg5sckzsew_600x928.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥85</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131009/q33hy_kqyuotdykfbegv3wgfjeg5sckzsew_400x540.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥98</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>302</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131005/10tme5_kqyugx3ekfbdktcugfjeg5sckzsew_416x628.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥99</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/130929/r6nta_kqyvuz27kfbhsqkugfjeg5sckzsew_500x750.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥99</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>325</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/130927/4f5aa_kqyuizlckfbhsytwgfjeg5sckzsew_468x760.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥69</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>302</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/131008/69teb_kqyxkz2mkfbewytwgfjeg5sckzsew_398x599.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥85</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131002/tdx89_kqytevdckfbhgq3wgfjeg5sckzsew_466x700.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥68</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>252</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/130925/rp0h3_kqytou2ekfbguwsugfjeg5sckzsew_442x555.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥78</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>295</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131005/pbytk_kqyvurcdkfbfqqkugfjeg5sckzsew_346x509.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥82</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131007/q113b_kqywy3szkfbfc6dwgfjeg5sckzsew_418x629.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥108</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/130923/r5rge_kqys4ucxkfbegzdwgfjeg5sckzsew_400x540.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥119</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>248</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131011/1_kqyue3sxkfbge6dwgfjeg5sckzsew_751x929.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥69</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>305</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131008/nw7tg_kqyui2cekfbguysugfjeg5sckzsew_398x605.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥76</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131007/c6onb_kqytqrc2kfbhg6cugfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥95</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131010/66j3l_kqytc2dikfbfi6dwgfjeg5sckzsew_800x1200.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥99</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>313</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/131008/ljldb_kqyxotckkfbegx3wgfjeg5sckzsew_450x703.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥148</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>267</integer>
		<key>img</key>
		<string>http://s6.mogujie.cn/b7/bao/131004/vc050_kqyuox3ykfbdowsugfjeg5sckzsew_327x435.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥198</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>219</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/130905/ufsz8_kqyuqn2fkfbhms3wgfjeg5sckzsew_554x605.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥278</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://s7.mogujie.cn/b7/bao/131002/uspyj_kqyxoz27kfbgorkugfjeg5sckzsew_500x750.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥85</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>278</integer>
		<key>img</key>
		<string>http://s13.mogujie.cn/b7/bao/130929/f4k9p_kqyxoz2lkfbdiqkugfjeg5sckzsew_378x524.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥149</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
